.details-box{
    .top-box{
        // background:#f2f2f2;
        // background: url('../../images/detail01-1.jpg') no-repeat 0 -160px;
        height:220px;
        //filter:blur(5px); //毛玻璃效果，但会让文字也模糊掉，不适合

        //毛玻璃效果：&::before添加遮罩层，溢出部分隐藏即可。主要还是用filter:blur()
        position: relative; 
        overflow: hidden; //以上两句限制图片显示区域，溢出部分隐藏
        &::before{
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: 0; //由于其余兄弟元素没有设置z-index，因此这里只能z-index:0
            filter: blur(20px);
            background: url('../../images/detail01-1.jpg') no-repeat -100px -160px;
            margin: -20px; //去掉blur出现的外阴影
        }
        .show{
            // padding-top:110px;
            position: absolute;
            top: 95px;
            //一个矩形，左边不动，向上延伸65，向下延伸20，向右延伸320
            border-top: 65px solid transparent;  /*控制梯形高度*/
            border-left: 0px solid transparent; /*控制梯形与左边距离*/
            border-bottom: 45px solid #fff; 
            border-right: 320px solid #fff; /*控制梯形宽度*/
            width: 0;
            height: 0;
            content: '';
        }
        .images{
            position: absolute;
            top: 120px;
            left: 20px;
            border: 2px solid #fff;
            border-radius: 5px;
            img{
                display: block;
                width: 50px;
                height: 50px;
            }
        }
        .title{
            position: absolute;
            top: 140px;
            left: 90px;
        }
        .score{
            position: absolute;
            right: 0;
            top: 118px;
        }
        .game-tags{
            position: absolute;
            bottom: 0;
            top: 180px;
            span{
                margin-left: 10px;
                color: #fff;
                padding: 5px;
                border-radius: 10px;
            }
            span:nth-child(1){
                background-color: blue;
            }
            span:nth-child(2){
                background-color: red;
            }
            span:nth-child(3){
                background-color: #ccc;
            }
        }
        
        p{
            font-size: 16px;
        }
        span{
            font-size: 12px;
        }

        .details-header-box{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 40px;
            .head-left{
                font-size: 20px;
                font-weight: bold;
                margin-left: 4%;
                color: #fff;
                line-height: 35px;
            }
            .search-input{
                margin-right: 4%;
            }
            .icon-sousuo{
                font-size: 20px;
                color: #fff;
                font-weight: bold;
                line-height: 40px;
            }
        }
    }

    .main-box{
        padding-bottom: 50px;
        padding-top: 10px;
        background-color: lightgrey;
    }

    .am-notice-bar{
        background: #fff;
    }

    .game-detail-box{
        background: #fff;
        margin-top: 10px;
        .box-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .box-num{
                span:first-child{
                    color: orange;
                }
            }
            strong{
                color: orange;
                font-size: 16px;
            }
        }
        .news-item{
            display: flex;
            justify-content: space-between;
            // align-items: center;
            padding: 10px;
            span{
                color: grey;
            }
        }
        img{
            display: inline-block;
            width: 100px;
            height: 45px;
        }

        .box-btn{
            margin: 0 10px;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            a{
                border: 1px solid orange;
                color: orange;
                display: block;
                text-align: center;
                padding: .15rem .1rem;
                border-radius: 4px;
            }
        }

        .comments-item{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 130px;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            .c-avatar{
                img{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    top: 0;
                    border: 0;
                }
            }
            .c-content{
                flex: 2;
                margin-left: 10px;
            }
            .c-avatar,.c-content{
                height: 100%;
            }
            .c-name{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
            }
            .c-text{
                height: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                /* autoprefixer: off */
                -webkit-box-orient: vertical;
                 /* autoprefixer: on */
            }
            .c-bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    color: grey;
                }
            }
        }
    }

    ul{  //通过ul和li的简单设置实现横向滚动图片画廊
        width: 100%;
        overflow: scroll;
        display: flex;
        padding: 0 10px;
        li{
            display: inline-block;
            padding: .1rem .1rem 0 0;
        }
        img{
            width: 108px;
            height: 162px;
        }
    }

    .game-introduce{
        position: relative;
        padding: 10px 10px 0;
    }
    .game-introduce-more{
        position: absolute;
        color: orange;
        right: 10px;
        bottom: 0px;
    }
    .fold{
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;

        // 难以置信，这个渣渣属性要用注释包住
        /* autoprefixer: off*/
        -webkit-box-orient: vertical;
        /* autoprefixer: on*/
    }

    .fixed-bottom{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        padding: 5px 0;
        background: #fff;
        display: flex;
        justify-content: center;
        button{
            color: #fff;
            border: 0;
            outline: 0;
            background: orangered;
            padding: .2rem 1.8rem;
            border-radius: 5px;
            line-height: 25px;
        }
    }

    // 修改antd-moblie默认样式
    .am-tabs-default-bar-tab-active{
        color: orange;
    }
    .am-tabs-default-bar-underline{
        border: 1px solid orange;
    }
}