.posts-box{
    padding-bottom: .05rem;
    .posts-header{
        height: 50px;
        display: flex;
        justify-content: space-between;
        background: #f57d27;
        z-index: 99;
        width: 100%;
        .nav{
            line-height: 50px;
            &:nth-child(2){
                margin-right: 10px;
            }
        }
        span{
            color: #fff;
            display: inline-block;
            margin-left: 10px;
            font-size: .3rem;
        }
    }
    .main-box{
        .am-card{
            display: block;
            margin: 10px 0;
        }
        .post-summary{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .am-card-footer-extra{
            flex: 2;
        }
        
    }
    .edit-textarea{
        min-height: 100px;
        background: #fff;
        margin: 10px;
        overflow: auto;
        outline: none;
    }
    textarea{
        width: 98%;
        min-height: 85px;
        /* border: 0; */
        resize: none;
    }
}