@font-face {    // 前缀在iconfont中生成
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_426391_y0vkruheu4g.eot');
    src: url('//at.alicdn.com/t/font_426391_y0vkruheu4g.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_426391_y0vkruheu4g.woff') format('woff'),
    url('//at.alicdn.com/t/font_426391_y0vkruheu4g.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_426391_y0vkruheu4g.svg#iconfont') format('svg');
}
  
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-iconfontlttb:before { content: "\e635"; }
  
.icon-wo:before { content: "\e60a"; }
  
.icon-shouye:before { content: "\e616"; }
  
.icon-faxian:before { content: "\e609"; }
  
.icon-sousuo:before { content: "\e61c"; }
  
.icon-wendashoujibanICON-:before { content: "\e689"; }
  
.icon-xiazai1:before { content: "\e62f"; }
  
.icon-bangdanpaihangon:before { content: "\e679"; }

  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background: #f2f2f2;
    .container{
        background: #fff;
    }
    .home{
        padding-top: 50px;
    }
    .my-box,.search-box,.profile-box{
        @extend .home
    }
}

img{
    width: 1rem;
    vertical-align: middle;
}

ul{
    margin: 0;
    padding: 0;
    list-style:none;
    width: 100%; //用于铺满屏幕
    display: inline-block;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    margin: 0;
}

span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}



// @keyframes App-logo-spin {
//     from { transform: rotate(0deg); }
//     to { transform: rotate(360deg); }
// }

// .App {
//     color: red;
//     text-align: center;

//     .App-header {
//         background-color: #222;
//         height: 150px;
//         padding: 20px;
//         color: white;

//         .App-logo {
//             animation: App-logo-spin infinite 20s linear;
//             height: 80px;
//         }

//         h2{
//             font-size: 1.2rem;
//         }
//     }
      
//     .App-intro {
//         font-size: 0.8rem;
//         font-weight: bold;
//     }
// }