.my-box{
    background: #f2f2f2;
    height: 92vh;
    a{
        display: block;
    }
    .user-info{
        display: flex;
        justify-content: space-around;
        padding: .3rem;
        .user-avatar{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user-text{
            flex: 2;
            margin-left: .2rem;
            p{
                line-height: .6rem;
            }
        }
    }
    .basic-func{
        padding: 0 0.3rem;
        li{
            display: flex;
            padding: 0;
        }
        .func-img{
            display: block;
            padding: .2rem;
            width: .8rem;
            height: .8rem;
        }
        .title{
            margin-left: .2rem;
            line-height: 1.25rem;
            flex: 2;
            font-size: 16px;
        }
    }
    .logout-btn{
        display: block;
        width: 90%;
        padding: .2rem;
        background: red;
        color: #fff;
        border: 0;
        margin: auto;
        border-radius: 5px;
        // display: none;
    }
    .user-info,.basic-func{
        margin-bottom: .5rem;
        background: #fff;
        button{
            background: #fff;
            border: 0;
            outline: 0;
        }
    }
}