.category-box{
    background: #efefef;
    padding: 50px 0 2rem 0;
    .top-box{
        ul{
            display: flex;
            justify-content: center;
            padding: .2rem 0;
            .top-part{
                margin: 0 .4rem;
            }
        }
    }
    
    .down-box{
        display: flex;
        flex-direction: row;
        .title{
            margin: auto;
            width: 2rem;
            padding-left: .5rem;
            span:last-child{
                text-align: center;
                display: block;
                margin-top: .1rem;
                width: 100%;
            }
        }
        .type{
            width: 100%; //左侧.title设固定宽度，右侧.type宽度要100%，否则一行超过3个tab
            text-align: center;
            ul {
                text-align: center;
                li{
                    min-width: 1rem;
                    display: inline-block;
                    padding: .3rem;
                    text-align: center;
                }
            }
        }
    }
    .top-box,.down-box{
        margin-bottom: .2rem;
        background: #fff;
        span:first-child{
            background-image: url('../../images/category_sprite.png');
            background-repeat: no-repeat;
            width: 35px;
            height: 40px;
            margin: auto;
            display: block;
            background-size: 155px;
        }
        .icon1{ background-position: 0px -38px; }
        .icon2{ background-position: -40px 5px; }
        .icon3{ background-position: -80px 4px; }
        .icon4{ background-position: -40px -40px; }
        .icon5{ background-position: -79px -40px; }
        .icon6{ background-position: -120px 0; }
        .icon7{ background-position: 0 0; }
    }
}
