.home{
    ul{
        display: inline-block;
    }
    img{
        width: 100%;
    }
    .navbar{
        padding: 0.8rem 0;
        ul{
            display: flex;
            justify-content: space-around;
            padding: 0.8rem 0;
            li{
                text-align: center;
            }
            p{
                background-image: url('../../images/index_sprite.png');
                background-repeat: no-repeat;
                width: 3.1rem;
                height: 3.1rem;
                margin: auto;
                background-size: 10rem;//雪碧图要加上这个
                margin-bottom: 0.5rem;
            }
            .nav-icon1{background-position: 0 0;}
            .nav-icon2{background-position: -3.3rem 0;}
            .nav-icon3{background-position: 0 -3.3rem;}
            .nav-icon4{background-position: -6.9rem 0;}
            .nav-icon5{background-position: -3.4rem -3.3rem;}
        }
    }
    .card{
        display: flex;
        justify-content: center;
        // padding: 0.8rem 0;
        border-bottom: 10px solid #f2f2f2;
        .left-card{
            border-bottom: 1px solid green;
            margin-right: 0.5rem;
        }
        .right-card{
            margin-left: 0.5rem;
            border-bottom: 1px solid orangered;
        }
        .left-card,.right-card{
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-bottom: 1rem;
            .text{
                p{
                    font-size: 14px;
                }
                span{
                    color: grey;
                    font-size: 12px;
                    margin-top: 0.8rem;
                    display: block;
                }
            }
            .pic{
                width: 5rem;
            }
        }
    }
    .game-list{
        padding-bottom: 4.5rem;
        img{
            width: 4.5rem;
            height: 4.5rem;
        }
        .list-title{
            display: flex;
            justify-content: space-between;
            padding: 0.8rem 0.5rem;
            span:first-child{margin-left:0.5rem;}
            span:last-child{margin-right:1rem;}
        }
        .list-details{
            width: 100%;
            li{
                display: flex;
                justify-content: space-around;
                padding: 0.8rem 1rem;
                .item-detail{
                    flex: 1;
                    padding: 0 0.6rem;
                    line-height: 1.5rem;
                    span{
                        display: block;
                        color: grey;
                        font-size: 12px;
                    }
                }
                .item-btn{
                    //padding-top: 1.5rem;
                    line-height: 4rem;
                    button{
                        border: 1px solid #f27d2e;
                        color: #f27d2e;
                        padding: 0.5rem 1.2rem;
                        background: #fff;
                        border-radius: 5px;
                    }
                }
            }
            
        }
       
    }
    .back-top{
        position: fixed;
        right: 1rem;
        bottom: 5rem;
        width: 5rem;
        display: none;
    }
    .showBack{
        display: block;
    }
}