.header-box{
    height: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f57d27;
    z-index: 99;
    position: fixed;
    width: 100%;
    .header{
        // width: 100%;
        // position: fixed;
        background: #f57d27;
        // padding: 0.5rem 0 0.9rem 0;
        display: flex;
        justify-content: space-around;
        z-index: 99;
    }
    .head-left{
        line-height: 50px;
        color: #fff;
        font-size: 18px;
        margin: 0 15px;
    }
    .search-input{
        border-radius: 25px;
        background: #f8a468;
        padding: 0 0.3rem;
        height: 30px;
        margin-top: 10px;
        
        display: flex;
        justify-content: center; 
        input[type=text]{
            display: inline-block;
            width: 82%;
            margin-left: 0.3rem;
            border: 0;
            outline: 0;
            background: #f8a468;
            caret-color: #fff; //input输入框光标颜色
            color: #fff;
        }
        i{
            line-height: 35px;
        }
    }

    .profile{
        display: flex;
        justify-content: space-between;   
        a{
            display: inline-block;
            margin: 0 5px;
        }
    }

    i{
        font-size: 20px;
        color: #fff;
        line-height: 50px;
        vertical-align: middle;
        margin: 0 5px;
    }
}