.billboard-box{
    .board-title{
        display: flex;
        justify-content: center;
        height: 1.6rem;
        margin-bottom: .2rem;
        .title-image{
            padding:.2rem;
        }
        .title-text{
            line-height: .7rem;
            p{
                font-weight: bold;
                font-size: 16px;
            }
            span{
                color: grey;
                font-size: 12px;
            }
        }

    }
    .board-list{
        ul{
            width: 100%;
        }
        li{
            height: 1.5rem;
            min-height: 50px;
            border: 1px solid #dbdbdb;
            margin-bottom: .3rem; 
            display: flex;
            justify-content: center;
            position: relative;
            .item-pic{
                padding: .3rem;
                background: cadetblue;
            }
            .item-detail{
                flex: 2;
                line-height: .4rem;
                padding: .2rem;
                p:nth-child(1){
                    font-size: 16px;
                    color: #000;
                }
                p:nth-child(2),.item-total span:nth-child(1){
                    color: orangered
                }
                span,p{
                    font-size: 12px;
                    color: grey;
                }
            }
            .item-btn{
                flex: 1;
                right: 0;
                a{
                    color: orange;
                    padding: .2rem;
                    border: 1px solid orange;
                    border-radius: 5px;
                    position: absolute;
                    right: .3rem;
                    top: .3rem;
                    height: .4rem;
                }
            }
        }
    }
    [class^="MuiTabs-root-"]{
        height: 38px;
        min-height: 38px !important;
        padding-top: 50px;
        [class^="MuiTabs-flexContainer-"]{
            position: fixed;
            height: 37px;
            z-index: 99;
            background: #fff;
            width: 100%;
            top: 50px;
            button[aria-selected=true]{
                color: coral;
                font-weight: bold;
            }
        }
        [class^="MuiTabIndicator-root-"]{
            top: 35px;
            z-index: 99;
        }
        [class^="MuiTabs-scrollingContainer-"]{
            div:nth-child(2){
                background-color: coral !important;
            }
        }
    }
}