body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

body .container {
  padding-top: 3.4rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
