.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #000;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}

.footer ul li {
  padding: 0 0.8rem;
}

.footer ul p {
  text-align: center;
  color: grey;
}

.footer i {
  color: grey;
  font-size: 20px;
  text-align: center;
  display: block;
}
