.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    p{
        margin: 0;
    }
    a{
        color: #000;
    }
    ul{
        display: flex;
        justify-content: space-around;
        li{
            padding: 0 0.8rem;
        }
        p{
            text-align: center;
            color: grey;
        }
    }
    i{
        color: grey;
        font-size: 20px;
        text-align: center;
        display: block;
    }
}