.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #000;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}

.footer ul li {
  padding: 0 0.8rem;
}

.footer ul p {
  text-align: center;
  color: grey;
  font-size: 12px;
}

.footer ul .active {
  background-image: -webkit-gradient(linear, 0 0, right 0, from(#f78223), to(#f99f27));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  display: block;
}

.footer i {
  color: grey;
  font-size: 20px;
  text-align: center;
  display: block;
}
