.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 0.5rem 0;
    border-top: 1px solid #ccc;
    p{
        margin: 0;
    }
    a{
        color: #000;
    }
    ul{
        display: flex;
        justify-content: space-around;
        li{
            padding: 0 0.8rem;
        }
        p{
            text-align: center;
            color: grey;
            font-size: 12px;
        }
        .active{
            background-image: -webkit-gradient(linear, 0 0, right 0, from(#f78223), to(#f99f27));
            //  background-image: linear-gradient(to right, #f78223, #f99f27); //另一种写法
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
    }
    i{
        color: grey;
        font-size: 20px;
        text-align: center;
        display: block;
    }
    
}