$f:#fff;
$f2:#f2f2f2;
$or:orangered;
@mixin pad{
    padding: .2rem;
}
.search-header-box{
    height: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f57d27;
    z-index: 99;
    position: fixed;
    width: 100%;
    .search-header{
        background: #f57d27;
        display: flex;
        justify-content: space-around;
        z-index: 99;
        .head-left{
            color: #fff;
            margin-left: 15px;
            font-size: 26px;
            line-height: 50px; 
        }
        .search-input{
            border-radius: 25px;
            background: #f8a468;
            width: 55%;
            padding: 0 .3rem;
            height: 30px;
            margin-top: 10px;
            input[type=text]{
                display: inline-block;
                width: 82%;
                border: 0;
                outline: 0;
                background: #f8a468;
                caret-color: #fff; //input输入框光标颜色
                color: #fff;
            }
            i{
                line-height: 2.8rem;
            }
        }

        .icon-sousuo{
            line-height: 55px;
        }
        i{
            font-size: 24px;
            color: #fff;
            vertical-align: middle;
        }
        .search-input{     
            input[type=text]{
                width: 100%;
                margin-top: 4px;
                height: 22px;
            }
            ::-webkit-input-placeholder {
                color: $f;
            }
        }
    }

}
.search-box{
    background: $f2;
    .hot-search{
        margin-bottom: .3rem;
        background: $f;
        @include pad;
        li{
            font-size: 14px;
            display: inline-block;
            background: $f2;
            margin: 0 .2rem .2rem 0;
            padding: .2rem .3rem;
            border-radius: 4px;
        }
    }

    .history-search{
        background: $f;
        @include pad;
        li{
            font-size: 14px;
            padding: .2rem 0;
            border-bottom: 1px solid $f2;
        }
    }
    span{
        padding: .3rem 0;
        color: grey;
        display: block;
    }
    .clean-history{
        background: $f;
        text-align: center;
        color: $or;
        padding: .3rem;
    }
    .mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: #000;
        opacity: 0.3;
        z-index: 5;
        display: none;
    }
    .modal{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $f;
        z-index: 6;
        width: 70%;
        padding: .5rem;
        border-radius: 5px;
        display: none;
        p{
            color: $or;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $or;
            font-size: 16px;
        }
        span{
            color: #000;
            font-size: 16px;
        }
        .clean-btn{
            margin-top: .5rem;
            display: flex;
            justify-content: space-between
        }
        input{
            display: inline-block;
            width: 45%;
            padding: .2rem;
            text-align: center;
            outline: 0;
        }
        input:nth-child(2){
            background: $or;
            color: $f;
            outline: 0;
            border: 0;
        }
    }
}